# SPDX-FileCopyrightText: 2021 Jeff Epler
#
# SPDX-License-Identifier: CC0-1.0

*,cover
*.egg-info
/.coverage*
/.reuse
/build
/coverage.xml
/dist
/finals2000A.all.csv
/htmlcov
/src/wwvb/__version__.py
__pycache__
