# SPDX-FileCopyrightText: 2021 Jeff Epler
#
# SPDX-License-Identifier: CC0-1.0

/build
/.coverage*
/coverage.xml
/dist
/*.egg-info
/htmlcov
/iersdata.csv
__pycache__
*,cover
/.reuse
/wwvbdata.html
/wwvb/__version__.py
