# SPDX-FileCopyrightText: 2021 Jeff Epler
#
# SPDX-License-Identifier: CC0-1.0

name: Test wwvbgen

on:
  push:
  pull_request:
  release:
    types: [published]
  check_suite:
    types: [rerequested]

jobs:
  test:
    strategy:
      matrix:
        python-version:
        - '3.7'
        - '3.8'
        - '3.9'
        - '3.10'
        - 'pypy-3.7'
        - 'pypy-3.8'
        os-version:
        - 'ubuntu-20.04'
        - 'macos-latest'
        - 'windows-latest'

    runs-on: ${{ matrix.os-version }}
    steps:
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"

    - uses: actions/checkout@v2.2.0

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install deps
      run: python -mpip install -r requirements-dev.txt

    - name: Check stubs
      if: (! startsWith(matrix.python-version, 'pypy-'))
      run: make mypy PYTHON=python

    - name: Test
      run: make coverage PYTHON=python

    - name: Upload Coverage to Codecov
      if: always()
      uses: codecov/codecov-action@v2
      env:
        PYTHON: ${{ matrix.python-version }}
      with:
        env_vars: PYTHON
        fail_ci_if_error: true

    - name: Upload Coverage as artifact
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: coverage for ${{ matrix.python-version }} on ${{ matrix.os-version }}
        path: coverage.xml

  pre-commit:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: set PY
      run: echo >>$GITHUB_ENV PY="$(python -c 'import hashlib, sys;print(hashlib.sha256(sys.version.encode()+sys.executable.encode()).hexdigest())')"
    - uses: actions/cache@v1
      with:
        path: ~/.cache/pre-commit
        key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}
    - uses: pre-commit/action@v1.1.0
