# SPDX-FileCopyrightText: 2021 Jeff Epler
#
# SPDX-License-Identifier: CC0-1.0

name: Test wwvbgen

on:
  push:
  pull_request:
  release:
    types: [published]
  check_suite:
    types: [rerequested]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - '3.9'
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13.0-alpha.0 - 3.13'
        os-version:
        - 'ubuntu-latest'
        coverage-core:
        - 'ctrace'
        include:
          - os-version: 'macos-latest'
            python-version: '3.x'
          - os-version: 'windows-latest'
            python-version: '3.x'
          - os-version: 'ubuntu-latest'
            python-version: '3.12'
            coverage-core: 'sysmon'
          - os-version: 'ubuntu-latest'
            python-version: 'pypy-3.10'
            coverage-core: 'pytrace'

    runs-on: ${{ matrix.os-version }}
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install deps
      run: |
        python -mpip install wheel
        python -mpip install -r requirements-dev.txt

    - name: Check stubs
      if: (! startsWith(matrix.python-version, 'pypy-'))
      run: make mypy PYTHON=python

    - name: Test
      run: make coverage PYTHON=python COVERAGE_CORE=${{ matrix.coverage-core }}

    - name: Upload Coverage as artifact
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: coverage for ${{ matrix.python-version }} on ${{ matrix.os-version }}
        path: coverage.xml

  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: pre-commit
      run: pip install pre-commit && pre-commit run --all
